<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          type="text/css" href="{url_for('static', filename='css/style.css')}
                    integrity=" sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1
    "
    cross-origin="anonymous">
    <!--<link rel="stylesheet" href="./static/css/user.css">-->


</head>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
                <li><a href="/help" class="nav-link px-2 text-white">Help</a></li>
                <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
            </ul>

            <div class="text-end">
                {% if current_user.is_authenticated %}
                <a class="navbar-brand" href="/user">{{ current_user.name }}</a>
                <a class="navbar-brand" href="/logout"> Logout </a>
                {% else %}
                <p>
                    <a class="btn btn-primary " href="/register">Register</a>
                    <a class="btn btn-success" href="/login">Login</a>
                </p>
                {% endif %}

            </div>
        </div>
    </div>
</header>
<main role="main" class="container">
    <div class="alert alert-warning" role="alert">
        <h3>Some tips</h3>
        <p>Hi! There will be some tips to help you use di-just</p>
        <p>To create and edit/delete digests you need to register.<br>
        You can easily find button "REGISTER" in the right corner</p>
        <p>To login in the di-just just press the button "LOGIN" at rhe right corner</p>
        <p>To create your own digest click on your username at the top and then click <br>
        on the button "new digest"</p>
        <p>Every of your digest has buttons "edit" and "delete", you can also use them.</p>
    </div>
</main>

</body>
</html>