{% extends "base.html" %}

{% block content %}
<div class="user">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    {{ user.name }}
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {{ user.about }}
                </div>
            </div>
        </div>
    </div>
</div>

{% for item in user.djs %}
<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <a href="adddigest" class="btn btn-secondary">add digest</a>
    <div>
        {{item.content}}
    </div>
    {% for link in item.link %}
    <div>
        <div class="card" style="width: 18rem;">
            <img src="https://images.unsplash.com/photo-1647784057692-7c7116f86c7d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
                 class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card</h5>
                <p class="card-text"> {{link.description}} </p>
                <a href={{link.link}} class="btn btn-primary stretched-link">Go</a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endfor %}
    {% endblock %}